Repository kyutai-labs/unmute: changes, and which pre-commit hooks are due for each by the changed paths.
All: pnpm-run-lint, pnpm-run-build, pyright

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=2048"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.11.7
    hooks:
      # Run the linter.
      - id: ruff
        types_or: [python, pyi] # Don't run on `jupyter` files
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
        types_or: [python, pyi] # Don't run on `jupyter` files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: pnpm-run-lint
        name: pnpm run lint
        language: system
        entry: bash -c 'cd frontend && pnpm run lint --max-warnings 0'
        files: ^frontend/src/.*$
        pass_filenames: false
        stages: [pre-commit]
      - id: pnpm-run-build
        name: pnpm run build
        language: system
        entry: bash -c 'cd frontend && pnpm run build'
        files: ^frontend/src/.*$
        pass_filenames: false
        stages: [pre-push]
      - id: pyright
        name: Pyright type-checking
        language: system
        entry: bash -c 'uv run pyright'
        files: ^unmute/.*$
        pass_filenames: false
        stages: [pre-push]

Download some models from huggingface
  services/moshi-server/configs/stt.toml
  services/moshi-server/start_moshi_server.sh
  swarm-deploy.yml
Due: none

III
  swarm-deploy.yml
Due: none

Use more things from hf
  services/moshi-server/configs/tts-py.toml
  services/moshi-server/configs/tts.toml
Due: none

Simplify stuff
  services/moshi-server/configs/tts.toml
  services/moshi-server/configs/voice-cloning.toml
  swarm-deploy.yml
Due: none

Fix the freesound voices
  services/moshi-server/Dockerfile
  services/moshi-server/configs/tts-py.toml
  unmute/tts/freesound_download.py
  voices.yaml
Due: pyright

Change the stt models
  services/moshi-server/configs/stt.toml
Due: none

Cleanup readme by clarifying supported deployments
  README.md
  SWARM.md
Due: none

Update SWARM.md
  SWARM.md
Due: none

Removed some comments
  README.md
  SWARM.md
Due: none

Toggle recording via env var
  unmute/kyutai_constants.py
  unmute/main_websocket.py
  unmute/recorder.py
  unmute/tts/text_to_speech.py
  unmute/unmute_handler.py
Due: pyright

Save remaining events on shutdown
  unmute/recorder.py
  unmute/unmute_handler.py
Due: pyright

Simplify the recorder and also add it to the deployments
  .gitignore
  swarm-deploy.yml
  unmute/main_websocket.py
  unmute/recorder.py
  unmute/unmute_handler.py
Due: pyright

Switch to Mistral Small 24B
  README.md
  SWARM.md
  bake_deploy_prod.sh
  frontend/src/app/UnmuteHeader.tsx
  unmute/llm/system_prompt.py
  unmute/scripts/vllm_wrapper_example.py
  unmute/unmute_handler.py
Due: pnpm-run-lint, pnpm-run-build, pyright

Clean up
  unmute/scripts/vllm_wrapper_example.py
  unmute/unmute_handler.py
Due: pyright

Set the llm name with an environment variable
  swarm-deploy.yml
  unmute/llm/llm_utils.py
  unmute/llm/system_prompt.py
Due: pyright

Moved it to kyutai_constants
  unmute/kyutai_constants.py
  unmute/llm/llm_utils.py
Due: pyright

Rename all env var
  bake_deploy_prod.sh
  bake_deploy_staging.sh
  swarm-deploy.yml
Due: none

Dockerless: Make HTTP(S) configurable via environment variables
  dockerless/start_backend.sh
  dockerless/start_frontend.sh
  unmute/main_websocket.py
Due: pyright

Add Kubernetes deployment manifests and GHCR CI/CD workflow
  .github/workflows/ci.yml
  k8s/README.md
  k8s/backend.yaml
  k8s/deploy.sh
  k8s/frontend.yaml
  k8s/namespace-and-storage.yaml
  k8s/secrets.yaml
  k8s/stt.yaml
  k8s/tts.yaml
Due: none

Fix Docker image tags to use lowercase repository names
  .github/workflows/ci.yml
  k8s/backend.yaml
  k8s/frontend.yaml
  k8s/stt.yaml
  k8s/tts.yaml
Due: none

Add dynamic image naming support for repository forks
  .github/workflows/ci.yml
  k8s/README.md
  k8s/deploy.sh
  k8s/update-images.sh
Due: none

Separate Docker builds from CI workflow
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
Due: none

Add automatic package visibility setting to public
  .github/workflows/docker-build.yml
Due: none

Fix GPU node scheduling and add tolerations
  k8s/stt.yaml
  k8s/tts.yaml
Due: none

Fix frontend build to use production Dockerfile
  .github/workflows/docker-build.yml
Due: none

Fix GPU node storage issue by using emptyDir volumes
  k8s/stt.yaml
  k8s/tts.yaml
Due: none

Fix moshi-server container startup and add ingress
  k8s/frontend.yaml
  k8s/stt.yaml
  k8s/tts.yaml
Due: none

Fix STT/TTS to properly run on GPU-enabled nodes
  k8s/stt.yaml
  k8s/tts.yaml
Due: none

README Instructions for Running on Windows Machines
  README.md
Due: none

Update README and Dockerfile to improve Windows compatibility
  README.md
  services/moshi-server/public.Dockerfile
Due: none

Add ffmpeg to Dockerfile and auto-deploy cronjob for speech-io services
  Dockerfile
  k8s/auto-deploy-cronjob.yaml
  k8s/backend.yaml
  k8s/deploy.sh
  k8s/namespace-and-storage.yaml
  k8s/secrets.yaml
  k8s/stt.yaml
  k8s/tts.yaml
Due: none

Fix trailing whitespace in README.md for pre-commit
  k8s/README.md
Due: none

Fix auto-deploy cronjob RBAC permissions and correct image references
  k8s/auto-deploy-cronjob.yaml
Due: none

Add path exclusions to docker-build workflow to prevent unnecessary builds
  .github/workflows/docker-build.yml
Due: none

Test path exclusions: add comment to k8s README
  k8s/README.md
Due: none

Added KYUTAI_LLM_API_KEY environment variable and an example docker-compose-ollama.yml that shows how to use an external LLM server
  docker-compose-ollama.yml
  unmute/kyutai_constants.py
  unmute/llm/llm_utils.py
Due: pyright

Clearer links
  README.md
Due: none

torch 2.8 & cuda update
  services/moshi-server/public.Dockerfile
Due: none
