Repository kyutai-labs/unmute: changes, and which pre-commit hooks are due for each by the changed paths.
All: pnpm-run-lint, pnpm-run-build, pyright

pnpm-run-lint:
  name: pnpm run lint
  language: system
  entry: bash -c 'cd frontend && pnpm run lint --max-warnings 0'
  pass_filenames: false
  stages:
  - pre-commit

pnpm-run-build:
  name: pnpm run build
  language: system
  entry: bash -c 'cd frontend && pnpm run build'
  pass_filenames: false
  stages:
  - pre-push

pyright:
  name: Pyright type-checking
  language: system
  entry: bash -c 'uv run pyright'
  pass_filenames: false
  stages:
  - pre-push

moshi-server for torch 2.7 (supports cuda 12.8)
  services/moshi-server/public.Dockerfile
Due: none

FIX to call get_openai_client() only once
  unmute/llm/llm_utils.py
Due: pyright

Added instructions for external LLM use to README.md and removed docker-compose-ollama.yml example
  README.md
  docker-compose-ollama.yml
Due: none

Fixed type annotation
  unmute/llm/llm_utils.py
Due: pyright

Fixed OpenAI endpoint URL in README
  README.md
Due: none

Fix and unify hf-cache in docker compose
  docker-compose.yml
Due: none

Fix wrong local storage key for recording consent
  frontend/src/app/Unmute.tsx
Due: pnpm-run-lint, pnpm-run-build

Update moshi-server to version 0.6.4
  dockerless/start_stt.sh
  dockerless/start_tts.sh
  services/moshi-server/start_moshi_server_public.sh
Due: none

Update Docker compose to work with RTX 50XX
  docker-compose.yml
  expose_localhost.md
  services/moshi-server/public.Dockerfile
  services/moshi-server/pyproject.toml
  services/moshi-server/uv.lock
Due: none

Fix for running Mistral 24B
  swarm-deploy.yml
Due: none

Use Mistral model in bake_deploy_prod
  bake_deploy_prod.sh
Due: none

reworked backend to autoconnect to remote device
  .kiro/steering/auto-connection-setup.md
  .kiro/steering/custom-client-guide.md
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  .kiro/steering/websocket-audio-communication.md
  Dockerfile
  README.autoconnect.md
  devices.example.json
  docker-compose.autoconnect.yml
  remote_device_server.py
  start_autoconnect.sh
  test_autoconnect.py
  unmute/device_manager.py
  unmute/main_auto_connect.py
  unmute/remote_devices.py
Due: pyright

updated dockerfiles to use uv and not python command
  Dockerfile
  docker-compose.autoconnect.yml
Due: none

monitoriung tools
  VERIFICATION_AND_OPTIMIZATION.md
  check_gpu_memory.py
  monitor_audio_flow.py
Due: none

new backend server pytohn script
  fixed_raspberry_pi_server.py
Due: none

fix cuda
  fix_cuda_issues.sh
Due: none

Adjusted cuda image
  fix_cuda_issues.sh
Due: none

autoconnect docker compose
  docker-compose.autoconnect.yml.example
Due: none

[BUG] Remove the em-dash from context and ensure the last word is present
  unmute/llm/llm_utils.py
  unmute/tts/text_to_speech.py
Due: pyright

Add comments explaining why we're adding those lines
  unmute/llm/llm_utils.py
  unmute/tts/text_to_speech.py
Due: pyright

[BUG] Remove the em-dash from context and ensure the last word is present (#146)
  unmute/llm/llm_utils.py
  unmute/tts/text_to_speech.py
Due: pyright

Fix voice donation preview, try transcription
  frontend/src/app/VoiceUpload.tsx
  frontend/src/app/voice-donation/page.tsx
Due: pnpm-run-lint, pnpm-run-build

Fix log location to match containers
  docker-compose.yml
  services/moshi-server/configs/stt-prod.toml
  services/moshi-server/configs/tts-prod.toml
  services/moshi-server/configs/voice-cloning.toml
Due: none

Use /tmp/unmute_logs everywhere
  services/moshi-server/configs/stt-prod.toml
  services/moshi-server/configs/tts-prod.toml
  services/moshi-server/configs/voice-cloning.toml
  swarm-deploy.yml
Due: none

Fix moshi-server log locations to match containers (#148)
  docker-compose.yml
  services/moshi-server/configs/voice-cloning.toml
  swarm-deploy.yml
Due: none

Update start_stt.sh to match start_tts.sh
  dockerless/start_stt.sh
Due: none

Use more recent version of vllm
  dockerless/start_llm.sh
Due: none

add NEXT_PUBLIC_BACKEND_SERVER_URL
  frontend/src/app/useBackendServerUrl.ts
Due: pnpm-run-lint, pnpm-run-build

dont add port if we have NEXT_PUBLIC_BACKEND_SERVER_URL
  frontend/src/app/useBackendServerUrl.ts
Due: pnpm-run-lint, pnpm-run-build

add logging
  frontend/src/app/useBackendServerUrl.ts
Due: pnpm-run-lint, pnpm-run-build

poke hole in cors firewall
  unmute/main_websocket.py
Due: pyright

use computed backendServerUrl in more places
  frontend/src/app/Unmute.tsx
Due: pnpm-run-lint, pnpm-run-build

local runpod changes
  dockerless/start_backend.sh
  dockerless/start_frontend.sh
  dockerless/start_llm.sh
  dockerless/start_stt.sh
  frontend/package.json
  pyproject.toml
  uv.lock
Due: none

Remove unneeded line
  dockerless/start_frontend.sh
Due: none

I don't think that 0.0.0.0 binding needed
  frontend/package.json
Due: none

is hugging face hub already included?
  pyproject.toml
Due: none

revert uv lock changes
  uv.lock
Due: none

remove hardcoded env var
  dockerless/start_backend.sh
Due: none

remove hardcoded url
  dockerless/start_frontend.sh
Due: none

remove empty space accidentally added
  dockerless/start_frontend.sh
Due: none

Path conditions:
  pnpm-run-lint: any of: ^frontend/src/.*$
  pnpm-run-build: any of: ^frontend/src/.*$
  pyright: any of: ^unmute/.*$
