Repository kyutai-labs/unmute: changes, and which pre-commit hooks are due for each by the changed paths.
All: pnpm-run-lint, pnpm-run-build, pyright

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=2048"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.11.7
    hooks:
      # Run the linter.
      - id: ruff
        types_or: [python, pyi] # Don't run on `jupyter` files
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
        types_or: [python, pyi] # Don't run on `jupyter` files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: pnpm-run-lint
        name: pnpm run lint
        language: system
        entry: bash -c 'cd frontend && pnpm run lint --max-warnings 0'
        files: ^frontend/src/.*$
        pass_filenames: false
        stages: [pre-commit]
      - id: pnpm-run-build
        name: pnpm run build
        language: system
        entry: bash -c 'cd frontend && pnpm run build'
        files: ^frontend/src/.*$
        pass_filenames: false
        stages: [pre-push]
      - id: pyright
        name: Pyright type-checking
        language: system
        entry: bash -c 'uv run pyright'
        files: ^unmute/.*$
        pass_filenames: false
        stages: [pre-push]

Audio routing (#1)
  .gitignore
  docker-compose.yml
  frontend/src/app/UnmuteConfigurator.tsx
  unmute/llm/chatbot.py
  unmute/llm/llm_utils.py
  unmute/llm/system_prompt.py
  unmute/main_websocket.py
  unmute/openai_realtime_api_events.py
  unmute/unmute_ros_bridge_client.py
  voices.yaml
Due: pnpm-run-lint, pnpm-run-build, pyright

Unmute Local UI adapter (#2)
  frontend/src/app/ConversationLog.tsx
  frontend/src/app/Unmute.tsx
  frontend/src/app/useBackendServerUrl.ts
  unmute/unmute_ros_bridge_client.py
Due: pnpm-run-lint, pnpm-run-build, pyright

Update Hugging Face CLI login command in scripts
  services/moshi-server/start_moshi_server_private.sh
  services/moshi-server/start_moshi_server_public.sh
Due: none

fix: huggingface deprecation
  services/moshi-server/start_moshi_server_private.sh
  services/moshi-server/start_moshi_server_public.sh
Due: none

fix: simplify huggingface command syntax
  services/moshi-server/start_moshi_server_private.sh
  services/moshi-server/start_moshi_server_public.sh
Due: none

Show restart button conditionally based on auto-connect (#3)
  frontend/src/app/Unmute.tsx
Due: pnpm-run-lint, pnpm-run-build

feat(ui): enhance connection handling and session management (#4)
  frontend/src/app/Unmute.tsx
  unmute/unmute_ros_bridge_client.py
Due: pnpm-run-lint, pnpm-run-build, pyright

feat(parser): add speech tag extraction functionality
  tests/test_tag_parser.py
  unmute/llm/unmute_tag_parser.py
  unmute/unmute_handler.py
Due: pyright

feat(parser): implement LLMTagPrinter for tag parsing
  tests/test_tag_parser.py
  unmute/llm/unmute_tag_parser.py
  unmute/unmute_ros_bridge_client.py
Due: pyright

feat(parser): enhance role handling in ConversationLog and Unmute
  frontend/src/app/ConversationLog.tsx
  frontend/src/app/Unmute.tsx
  frontend/src/app/chatHistory.ts
  unmute/unmute_ros_bridge_client.py
Due: pnpm-run-lint, pnpm-run-build, pyright

Fix: huggingface-cli deprecation (#190)
  services/moshi-server/start_moshi_server_private.sh
  services/moshi-server/start_moshi_server_public.sh
Due: none

Tell people to complain if prod is broken
  frontend/src/app/CouldNotConnect.tsx
Due: pnpm-run-lint, pnpm-run-build

Tell people to complain if prod is broken (#192)
  frontend/src/app/CouldNotConnect.tsx
Due: pnpm-run-lint, pnpm-run-build

fix(llm): allow disabling model thinking
  README.md
  tests/test_kyutai_constants.py
  tests/test_llm_utils.py
  unmute/kyutai_constants.py
  unmute/llm/llm_utils.py
Due: pyright

Add dependency cooldown (exclude-newer = 7 days)
  pyproject.toml
Due: none

Regenerate lockfiles after enabling exclude-newer
  uv.lock
Due: none

Bump uv in CI to 0.12.11 for relative exclude-newer support
  .github/workflows/ci.yml
Due: none
