Repository kyutai-labs/unmute: changes, and which pre-commit hooks are due for each by the changed paths.
All: pnpm-run-lint, pnpm-run-build, pyright

pnpm-run-lint:
  name: pnpm run lint
  language: system
  entry: bash -c 'cd frontend && pnpm run lint --max-warnings 0'
  pass_filenames: false
  stages:
  - pre-commit

pnpm-run-build:
  name: pnpm run build
  language: system
  entry: bash -c 'cd frontend && pnpm run build'
  pass_filenames: false
  stages:
  - pre-push

pyright:
  name: Pyright type-checking
  language: system
  entry: bash -c 'uv run pyright'
  pass_filenames: false
  stages:
  - pre-push

bump version everywhere
  README.md
  docker-compose.yml
  swarm-deploy.yml
Due: none

Use more recent version of vllm (#150)
  README.md
  docker-compose.yml
  dockerless/start_llm.sh
  swarm-deploy.yml
Due: none

Add page titles
  frontend/src/app/voice-donation/Redirect.tsx
  frontend/src/app/voice-donation/VoiceDonation.tsx
  frontend/src/app/voice-donation/page.tsx
  frontend/src/app/voice-donation/privacy-policy/page.tsx
  frontend/src/app/voice-donation/terms-of-use/page.tsx
Due: pnpm-run-lint, pnpm-run-build

Add page titles (#153)
  frontend/src/app/voice-donation/Redirect.tsx
  frontend/src/app/voice-donation/VoiceDonation.tsx
  frontend/src/app/voice-donation/page.tsx
  frontend/src/app/voice-donation/privacy-policy/page.tsx
  frontend/src/app/voice-donation/terms-of-use/page.tsx
Due: pnpm-run-lint, pnpm-run-build

Only use Google Analytics on prod
  frontend/src/app/ConsentModal.tsx
Due: pnpm-run-lint, pnpm-run-build

Only use Google Analytics on prod (#154)
  frontend/src/app/ConsentModal.tsx
Due: pnpm-run-lint, pnpm-run-build

Voice donation - submit transcription from client
  frontend/src/app/voice-donation/VoiceDonation.tsx
  unmute/tts/voice_donation.py
Due: pnpm-run-lint, pnpm-run-build, pyright

Voice donation - submit transcription from client (#155)
  frontend/src/app/voice-donation/VoiceDonation.tsx
  unmute/tts/voice_donation.py
Due: pnpm-run-lint, pnpm-run-build, pyright

Bump voice donation format version
  unmute/tts/voice_donation.py
Due: pyright

Fix system prompt info about model release
  unmute/llm/system_prompt.py
Due: pyright

Refactor comments in start_stt.sh for clarity
  dockerless/start_stt.sh
Due: none

Update start_stt.sh to match start_tts.sh (#149)
  dockerless/start_stt.sh
Due: none

Updates from more voice donations
  unmute/llm/system_prompt.py
  unmute/tts/create_voice_donation_table.py
  unmute/tts/voice_donation.py
Due: pyright

Upgrade Next.js - patch react2shell vulnerability
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

Add forgotten unidecode dep
  pyproject.toml
  uv.lock
Due: none

Upgrade Next.js - patch react2shell vulnerability (#161)
  frontend/package.json
  frontend/pnpm-lock.yaml
  pyproject.toml
  uv.lock
Due: none

Update voice donations script
  unmute/tts/copy_approved_voice_donations.py
Due: pyright

Finish voice donation project
  frontend/src/app/VoiceUpload.tsx
  frontend/src/app/globals.css
  frontend/src/app/voice-donation/IntroText.mdx
  frontend/src/app/voice-donation/IntroTextOver.mdx
  frontend/src/app/voice-donation/VoiceDonation.tsx
  frontend/src/app/voice-donation/VoiceDonationOver.tsx
  frontend/src/app/voice-donation/page.tsx
Due: pnpm-run-lint, pnpm-run-build

Add mention in README
  README.md
  frontend/src/app/voice-donation/DonationConsent.tsx
Due: pnpm-run-lint, pnpm-run-build

Extra sentence
  README.md
Due: none

blackwell support
  README.md
  docker-compose.yml
  services/moshi-server/entrypoint.sh
  services/moshi-server/private.Dockerfile
  services/moshi-server/public.Dockerfile
  services/moshi-server/python-env-blackwell/pyproject.toml
  services/moshi-server/python-env-blackwell/uv.lock
  services/moshi-server/python-env/pyproject.toml
  services/moshi-server/python-env/uv.lock
  traefik/dynamic/unmute.yml
Due: none

Update commit hash to use moshi 0.2.13 + torch 2.9.1
  services/moshi-server/private.Dockerfile
Due: none

Only two vllm replicas
  swarm-deploy.yml
Due: none

Try to remove reservations
  swarm-deploy.yml
Due: none

Try Gemma 12b
  bake_deploy_prod.sh
  swarm-deploy.yml
Due: none

Remove Mistral leftovers
  SWARM.md
  frontend/src/app/UnmuteHeader.tsx
  pyproject.toml
  unmute/llm/llm_utils.py
  unmute/scripts/mistral_streaming.py
  uv.lock
Due: pnpm-run-lint, pnpm-run-build, pyright

Lower bound version of av
  pyproject.toml
  uv.lock
Due: none

Prepare for downscaling the prod instance
  bake_deploy_staging.sh
  swarm-deploy.yml
Due: none

Fewer backend replicas, do not scale for staging
  bake_deploy_staging.sh
  swarm-deploy.yml
Due: none

Update documentation
  README.md
  bake_deploy_staging.sh
  docker-compose.yml
  frontend/src/app/UnmuteHeader.tsx
  unmute/llm/system_prompt.py
Due: pnpm-run-lint, pnpm-run-build, pyright

Deploy on unmute.sh
  bake_deploy_staging.sh
Due: none

Handle LLM response chunks with no choices
  unmute/llm/llm_utils.py
Due: pyright

Move to bake_deploy_prod
  bake_deploy_prod.sh
  bake_deploy_staging.sh
Due: none

Prod deployment on 1 GPU (#178)
  README.md
  bake_deploy_prod.sh
  bake_deploy_staging.sh
  docker-compose.yml
  frontend/src/app/UnmuteHeader.tsx
  swarm-deploy.yml
  unmute/llm/llm_utils.py
  unmute/llm/system_prompt.py
Due: pnpm-run-lint, pnpm-run-build, pyright

Bump Moshi
  services/moshi-server/public.Dockerfile
Due: none

Bump Moshi (#179)
  services/moshi-server/public.Dockerfile
Due: none

Fix user silence marker cleanup in LLM preprocessing
  tests/test_llm_utils.py
  unmute/llm/llm_utils.py
Due: pyright

Fix user silence marker cleanup in LLM preprocessing (#180)
  tests/test_llm_utils.py
  unmute/llm/llm_utils.py
Due: pyright

Increase max number of TTS connections
  services/moshi-server/configs/tts-prod.toml
Due: none

Increase max number of TTS connections (#185)
  services/moshi-server/configs/tts-prod.toml
Due: none

Path conditions:
  pnpm-run-lint: any of: ^frontend/src/.*$
  pnpm-run-build: any of: ^frontend/src/.*$
  pyright: any of: ^unmute/.*$
